{% extends '../base.html' %}
{% load static %}
{% load socialaccount %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/account/login.css' %}" />
{% endblock %}

{% block main %}
  <div class="container">
    <h2>ログイン</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="login">メールアドレス</label>
        {{ form.login }}
      </div>
      {% if form.login.errors %}
        <div class="error">{{ form.login.errors }}</div>
      {% endif %}
      <div class="form-group">
        <label for="password">パスワード</label>
        {{ form.password }}
      </div>
      {% if form.password.errors %}
        <div class="error">{{ form.password.errors }}</div>
      {% endif %}

      {% if form.non_field_errors %}
        <ul class="error-list">
          {% for error in form.non_field_errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <button type="submit" class="login-button">ログイン</button>
    </form>
    <div class="links">
      <a href="{% url 'account_reset_password' %}" class="link">パスワードを忘れましたか？</a>
      <a class="google-button" href="{% provider_login_url 'google' %}">
        <div class="google-icon">
          <img src="{% static 'image/google_icon.svg' %}" class="google-icon-image" alt="Googleのアイコン" />
        </div>
        <span class="gsi-material-button-contents">Logged in with Google</span>
      </a>
      <a href="{% url 'account_signup' %}" class="link">新規登録はこちら</a>
    </div>
  </div>
{% endblock %}
