{% extends '../base.html' %}
{% load static %}
{% load socialaccount %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/account/password_reset.css' %}" />
{% endblock %}

{% block main %}
  <div class="container">
    <p>urlを送信するメールアドレスを入力してください</p>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">メールアドレス</label>
        {{ form.email }}
      </div>
      {% if form.email.errors %}
        <div class="error">{{ form.email.errors }}</div>
      {% endif %}
      <button type="submit" class="submit-button">送信</button>
    </form>
  </div>
{% endblock %}
