{% extends '../base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'main/css/signup.css' %}" />
{% endblock %}

{% block main %}
  <div class="container">
    <h2>新規登録</h2>
    <form method="post" action="">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">ユーザー名</label>
        {{ form.username }}
      </div>
      {% if form.username.errors %}
        <div class="error">{{ form.username.errors }}</div>
      {% endif %}

      <div class="form-group">
        <label for="email">メールアドレス</label>
        {{ form.email }}
      </div>
      {% if form.email.errors %}
        <div class="error">{{ form.email.errors }}</div>
      {% endif %}

      {% comment %} <div class="form-group">
        <label for="icon">アイコン</label>
        {{ form.icon }}
      </div>
      {% if form.icon.errors %}
        <div class="error">{{ form.icon.errors }}</div>
      {% endif %} {% endcomment %}

      <div class="form-group">
        <label for="password1">パスワード</label>
        {{ form.password1 }}
      </div>
      {% if form.password1.errors %}
        <div class="error">{{ form.password1.errors }}</div>
      {% endif %}

      <div class="form-group">
        <label for="password2">パスワード確認</label>
        {{ form.password2 }}
      </div>
      {% if form.password2.errors %}
        <div class="error">{{ form.password2.errors }}</div>
      {% endif %}

      <button type="submit" class="signup-button">登録</button>
    </form>

    <div class="links">
      <a href="{% url 'account_login' %}">ログインはこちら</a>
    </div>
  </div>
{% endblock %}
