.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

@media (max-width:500px) {
    .container {
        width: 80%;
    }
}

.confirm-button {
    border: 1px solid rgb(73, 73, 73);
    padding: 5px 10px;
    background-color: rgb(73, 73, 73);
    color: white;
    width: 100%;
}

.page-description{
    text-align: center;
    margin-top: 10px;
}