.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    margin-right: auto;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin-left: auto;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-menu a:hover {
    color: #cfcfcf;
}