.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    margin-right: auto;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin-left: auto;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-menu a:hover {
    color: #cfcfcf;
}

.messages {
    z-index: 1000;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
}

.message.success {
    background-color: #4caf50;
    color: white;
}

.message.error {
    background-color: #f44336;
    color: white;
}

.message.info {
    background-color: #2196f3;
    color: white;
}

.message.warning {
    background-color: #ff9800;
    color: white;
}