* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

em,
i,
b,
strong {
    font-style: normal;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
textarea,
button,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
    padding-left: 2px;
}

button {
    cursor: pointer;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    height: 100vh;
}