.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.question-block{
    width: 100%;
    margin-top: 20px;
    background-color: rgb(255, 209, 123);
    border-radius: 10px;
}

.question-text{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    font-size: 1.5rem;
}

.question-text p{
    width: 100%;
    text-align: center;
}

.form-group{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.form-group input{
    width: 60%;
    height: max-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.form-group button{
    width: 15%;
}

.submit-button{
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 5px;
    color: white;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
}

.link{
    background-color: rgb(41, 124, 231);
    padding: 10px 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link.disabled{
    opacity: 0.7;
    pointer-events: none;
}

.link:hover {
    background-color: rgb(31, 96, 181);
}

