.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.checkmark {
    color: green;
    font-size: 1.2rem;
}

.question-block {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(255, 209, 123);
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-text {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    width: 80%;
    margin: auto;
}

.question-text p {
    width: 100%;
    text-align: center;
}

.answer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border: 2px dashed #aaa;
    border-radius: 5px;
    min-width: 4rem;
    flex-shrink: 0;
    height: 4rem;
    margin: auto;
}

.dropped-number {
    margin: 0 5px;
    font-size: 4rem;
}

.card-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.number-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 2px solid #aaa;
    border-radius: 5px;
    cursor: grab;
    font-size: 20px;
    width: 40px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.submit-button {
    width: 30%;
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 5px;
    color: white;
}

.reload-button {
    width: 30%;
    border-radius: 5px;
    background-color: #e9a318;
    padding: 5px;
    color: white;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
}

.link {
    background-color: rgb(41, 124, 231);
    padding: 10px 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.link:hover {
    background-color: rgb(31, 96, 181);
}

.slider-container {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 20px auto;
}

.slider-track {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    overflow: hidden;
}

.slider-track::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--filled-percent, 0%);
    height: 100%;
    background: #007bff;
    transition: width 0.5s ease-in-out;
}


.slider-marks {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-marks div {
    width: 2px;
    height: 100%;
    background: #b5b5b5;
}

.slider-marks div:first-child {
    background: none;
}

.slider-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: #70e00f;
    cursor: grab;
    transform: translateX(-50%);
    transition: left 0.5s ease-in-out;
}