.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.heading {
    margin-bottom: 10px;
}

.tree-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color: #dfdfdf;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.5);
}

.tree-container svg {
    overflow: visible;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.tree-button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #d7d300;
    transition: background-color 0.2s;
}

.tree-button:hover {
    background-color: #bcb900;
}

.tree-button.completed {
    background-color: #52d500;
    cursor: default;
}

.tree-button.completed:hover {
    background-color: #48bc00;
}

.tree-button.disabled {
    background-color: #9d9d9d;
    cursor: default;
    pointer-events: none;
}