{% extends '../base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/main/question_detail.css' %}" />
{% endblock %}

{% block main %}
  <div class="container">
    <h1 class="heading">
      {% if request.user in question.completed_users.all %}
        <span class="checkmark">✔</span>
      {% endif %}問題{{ question.question_number }}
    </h1>
    <div class="question-block">
      <form action="" method="post">
        {% csrf_token %}
        <div class="question-text">
          <p>{{ question.content }}</p>

          {% if question.question_type != 'simple_number' %}
            <div id="answer-box" class="answer-box" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          {% endif %}
        </div>
        <input type="hidden" id="answer-input" name="answer" required />
        {% if question.question_type != 'simple_number' %}
          <div class="card-container">
            {% for num in "123456789" %}
              <div class="number-card" draggable="true" ondragstart="drag(event)" data-value="{{ num }}">{{ num }}</div>
            {% endfor %}
          </div>
        {% else %}
          <div class="slider-container" id="sliderContainer">
            <div class="slider-track"></div>
            <div class="slider-marks">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div id="sliderHandle" class="slider-handle"></div>
          </div>
        {% endif %}

        <button class="submit-button" id="submit-button">決定</button>

        <div class="links">
          {% if question.last_question %}
            <a href="{% url 'question_detail' question.last_question.id %}" class="link">前の問題へ</a>
          {% endif %}

          {% if question.next_question %}
            <a href="{% url 'question_detail' question.next_question.id %}" class="link {% if request.user not in question.completed_users.all %}disabled{% endif %}">次の問題へ</a>
          {% else %}
            <a href="{% url 'stage_detail' question.stage.id %}" class="link {% if request.user not in question.completed_users.all %}disabled{% endif %}">このステージを完了する</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script src="{% static '/js/main/question_detail.js' %}"></script>
{% endblock %}
